* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.page-container {
    background: url('../images/bg.jpg') no-repeat center center fixed;
    margin-top: 50px;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Move the container behind other content */
}

.transparent-alert {
    background-color: rgba(13, 19, 31, 0.6);
    /* Set the background color to transparent white */
    padding: 20px;
    /* Add padding for spacing */
    border-radius: 10px;
    /* Add rounded corners for style */
}

.cust-font {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cust-font h1 {
    padding-bottom: 5px;
    display: inline;
    border-bottom: solid white 1px;
}

.cust-btn {
    display: flex;
    margin-left: 70px;
    margin-top: 40px;
    padding: 15px 20px;
    background: rgba(77, 77, 77, 0.5);
    color: white;
    border-radius: 5px;
}

.cust-btn i {
    margin-top: 10px;
    margin-right: 10px;
}

.cust-btn:hover {
    background-color: rgb(23, 23, 24);
}

.my-form {
    background-color: rgba(13, 19, 31, 0.6);
    border-radius: 10px;
}

.form-control {
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: white 1px solid;
    border-radius: 0;
}

.form-control:focus {
    background-color: transparent;
    border-color: white;
    /* Set your desired border color */
    box-shadow: none;
    /* Optionally remove the box shadow */
    color: white;
    outline: none;
}

.cust-icon {
    margin-top: 5px;
    padding-top: 35px;
    margin-right: 5px;
    padding-right: 10px;
}

.dropdown-menu .dropdown-item:hover {
    background-color: rgb(101, 101, 102);
}

.custom-link a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.custom-link a:hover {
    color: bisque
}

.no-email {
    display: flex;
    display: inline;
    font-size: medium;
}

.cus-sub h2 {
    border-bottom: 3px solid rgb(26, 150, 26);
    display: inline;
    padding-bottom: 10px;
}

.border-bottom h5 {
    display: inline;
}

.cust-sub-btn {
    margin-top: 20px;
    margin-left: 70px;
    padding: 15px 40px;
    background: rgb(59, 141, 59);
    color: white;
    border-radius: 5px;
}

.cust-sub-btn:hover {
    background-color: rgb(54, 51, 51);
    color: white;
}

.page-container1 {
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.hero {
    background: url('../images/luxury_interior1.jpg') center/cover no-repeat;
    height: 24rem;
    padding: 2rem 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero h1 {
    font-size: 4rem;
    font-weight: bold;
    color: white;
    align-self: center;
}

.search-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
}

.search-container {
    display: flex;
    align-items: center;
}

.search {
    border: 2px solid #ccc;
    background-color: #fff;
    height: 2.5rem;
    width: 20rem;
    border-radius: 0.5rem;
    padding-left: 1rem;
    font-size: 1rem;
    outline: none;
    color: #333;
    flex: 1;
}

.search-input::placeholder {
    color: #999;
    text-align: center;
}

.search-symbol {
    color: #999;
    padding: 0 0.5rem;
    width: 2.25rem;
    height: 2rem;
}

.search-button {
    margin-left: 10px;
    display: inline-block;
    background-color: #0073e6;
    border: 2px solid #ccc;
    height: 2.5rem;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    text-align: center;
}


.search-button:hover {
    background-color: #005baa;
}

/* Property grid styles */
.property-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: 20px;
}

/* Property card styles */
.property-card {
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

.property-card img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border-radius: 0.5rem;
}

.property-card img:hover {
    opacity: 0.5;
}

.property-status {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-weight: bold;
}

.property-status.sold {
    background-color: rgb(245, 57, 57);
    color: white;
}

.property-status.new {
    background-color: rgb(20, 163, 20);
    color: white;
}

.property-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0.5rem;
    color: rgb(23, 23, 237);
}

.property-title:hover {
    color: rgb(18, 18, 133);
    text-decoration: underline;
}

.property-details {
    color: #666;
    font-size: 1rem;
    margin-top: 0.5rem;
}

.property-bhk {
    font-weight: bold;
    margin-top: 0.5rem;
}

.view-details-button {
    display: inline-block;
    background-color: #0073e6;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    text-decoration: none;
    margin-top: 1rem;
    transition: background-color 0.3s;
}

.view-details-button:hover {
    background-color: #005baa;
}

.no-result-message {
    font-size: 1.5rem;
    font-weight: bold;
    color: #808080;
}